/.settings/
/Debug/Anexo_Logico_CML_CMR_Sec.map
/Debug/Anexo_Logico_CML_CMR_Sec.out
/Debug/Anexo_Logico_CML_CMR_Sec_linkInfo.xml
/Debug/Aplicacion/source/logica.obj
/Debug/source/can.obj
/Debug/source/errata_SSWF021_45.obj
/Debug/source/esm.obj
/Debug/source/gio.obj
/Debug/source/het.obj
/Debug/source/i2c.obj
/Debug/source/mibspi.obj
/Debug/source/notification.obj
/Debug/source/pinmux.obj
/Debug/source/sci.obj
/Debug/source/sys_dma.obj
/Debug/source/sys_main.obj
/Debug/source/sys_pcr.obj
/Debug/source/sys_phantom.obj
/Debug/source/sys_pmm.obj
/Debug/source/sys_selftest.obj
/Debug/source/sys_startup.obj
/Debug/source/sys_vim.obj
/Debug/source/system.obj
/Debug/source/*.obj
/Debug/Aplicacion/source/*.obj